#carousel {
	margin-top: 100px;
	margin-left: 24%;
}

#carousel img {
	position: absolute;
}

#carousel img.active {
	z-index: 3;
}
#carousel img.on-deck {
	z-index: 2;
}
#carousel img.in-the-hole {
	z-index: 1;
}
