
.slide {
  height: 200px;
  width: 300px;
  border-radius: 5px;
  background-color: #69D2E7;
  text-align: center;
  opacity: .5;
}

ul {
  position: absolute;
}

ul li {
  display: inline-block;
}


body {
	text-align: center;
}

.hide {
  display: none;
}